
/* BASIC */

/*html {*/
/*    background-color: #56baed;*/
/*}*/

/*body {*/
/*    background-image: url("../../img/aboutUsPage/about_us_background_3840x2160.jpg");*/
/*    background-size: 100% 100%;*/

/*    font-family: "Poppins", sans-serif;*/
/*    height: 100vh;*/
/*}*/

body {
    background-image: url("../../img/aboutUsPage/about_us_background_3840x2160.jpg");
    background-size: 100% 100%;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

