/*Error cases animation*/
form .field{
    width: 100%;
    margin-bottom: 10px;
}

form .field.shake{
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100%{
        margin-left: 0;
    }
    20%, 80%{
        margin-left: -6px;
    }
    40%, 60%{
        margin-left: 6px;
    }
}

form .field .input-area{
    position: relative;
}

form .field.error input{
    border-color: #dc3545;
}

form .field.error select{
    border-color: #dc3545;
}

/*Checked*/
form .field em{
    position: absolute;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
}
/*Checked*/
form .field .icon{
    left: 55px;
    color: #bfbfbf;
}
/*Checked*/
form .field .icon-error{
    right: 55px;
    color: #dc3545;
}
/*Checked*/
form .field .error-text{
    margin-top: 5px;
    color: #dc3545;
}
/*Checked*/
form .field .error{
    display: none;
}
/*Checked*/
form .field.error .error{
    display: block;
}