<head>
    <link href="/css/error_page/error_404_page_style.css" rel="stylesheet">
</head>
<body>
<div class="mainbox">

    <div class="err">4</div>
    <em class="far fa-question-circle fa-spin"></em>
    <div class="err2">4</div>

    <img src="../../../img/error_page/spinning_dog_format_6_to_4p1.gif" alt="Oops!" class="lost">

    <div class="msg">OOPS!<br/><br/> Something went wrong.<br/> This page may not exist yet.
        <p>
            <a class="underlineHover" href="/">HOME</a>
        </p>
    </div>
</div>
</body>